body,
input
  font-family: "Roboto Slab", serif

body
  font-size: 14px
  margin-left: 15%
  margin-bottom: 40px
  background: rgb(248,245,240) url('../img/paper_background.jpg') 0 0 no-repeat
  background-size: cover


.hidden
  display: none

#phone
  position: absolute
  height: 80%
  left: 56%
  top: 15%

#note
  font-size: 45px
  margin-top: 200px
  font-weight: bold

#sub
  font-size: 20px

#but
  margin-top: 80px

  input
    background: #d35400
    color: white
    font-size: 35px
    padding: 10px
    outline: none
    border: none
    display: block
    font-weight: 100
    width: 480px

    &::-webkit-input-placeholder /* WebKit browsers */
      color: white

    &:-moz-placeholder /* Mozilla Firefox 4 to 18 */
      color: white

    &::-moz-placeholder /* Mozilla Firefox 19+ */
      color: white

    &:-ms-input-placeholder /* Internet Explorer 10+ */
      color: white


.over:hover
  color: rgb(130,130,130)
  cursor: pointer

#floor
  position: absolute
  top: 95%
  left: 85%

.orange
  color: #d35400
  font-size: 25px

#exp
  margin-top: 20px
  margin-bottom: 20px
  margin-left: -26px

#pay
  position: absolute
  background: #d35400
  color: white
  font-size: 25px
  padding: 5px
  top: 70%
  visibility: hidden
  cursor: pointer	


#help
  position: absolute
  padding: 5px
  color: rgba(0,0,0,0.4)
  font-size: 20px
  border: 2px solid rgba(130,130,130,0.4)
  border-radius: 5px
  background: transparent
  visibility: hidden
  top: 80%

#faqt
  position: absolute
  top: 10%
  width:  40%
  height: 80%
  border: none
  padding: 20px
  visibility: hidden
  overflow-x: hidden /* horizontal */
  overflow-y: scroll  /* vertical */

#home
  position: fixed
  font-size: 35px
  top: 5%
  left: 5% 
  cursor: pointer
  visibility: hidden

  &:hover
    color: rgb(130,130,130)

