body,
input
  font-family: "Roboto Slab", serif

body
  padding: 50px
  font-size: 14px
  text-align: center
  margin-left: 15%
  margin-bottom: 40px
  background: rgb(248,245,240) url('../img/paper_background.jpg') 0 0 no-repeat
  background-size: cover

a 
  color: #00b7ff

h1,
h2
  margin: 0
  font-size: 22px
  color: #343434

h1 
  text-shadow: 1px 2px 2px #ddd
  font-size: 60px

.newSubscriber 
  width: 450px
  margin-left: auto
  margin-right: auto
  padding: 14px

input[type=text]
  width: 300px
  margin-left: 16px

#phone
  position: absolute
  height: 80%
  left: 56%
  top: 15%

#note
  position: absolute
  font-size: 35px
  top: 25%

#sub
  font-size: 20px 	

#but
  position: absolute
  background: #d35400
  color: white
  font-size: 25px
  padding: 5px
  top: 70%
  outline: none
  border: none
  display:  block

.over:hover
  color: rgb(130,130,130)
  cursor: pointer

#floor
  position: absolute
  top: 95%
  left: 85%

.orange
  color: #d35400
  font-size: 25px

#exp
  position: absolute
  left: 15% 
  top: 40%
  visibility: hidden

#pay
  position: absolute
  background: #d35400
  color: white
  font-size: 25px
  padding: 5px
  top: 70%
  visibility: hidden
  cursor: pointer	

#phone
  position: absolute
  height: 80%
  left: 56%
  top: 15%

#note
  position: absolute
  font-size: 35px
  top: 25%

#sub
  font-size: 20px

#but
  position: absolute
  background: #d35400
  color: white
  font-size: 25px
  padding: 5px
  top: 70%
  outline: none
  border: none
  display:  block

.over:hover
  color: rgb(130,130,130)
  cursor: pointer

#floor
  position: absolute
  top: 95%
  left: 85%

.orange
  color: #d35400
  font-size: 25px

#exp
  position: absolute
  left: 15% 
  top: 40%
  visibility: hidden

#pay
  position: absolute
  background: #d35400
  color: white
  font-size: 25px
  padding: 5px
  top: 70%
  visibility: hidden
  cursor: pointer	

#help
  position: absolute
  padding: 5px
  color: rgba(0,0,0,0.4)
  font-size: 20px
  border: 2px solid rgba(130,130,130,0.4)
  border-radius: 5px
  background: transparent
  visibility: hidden
  top: 80%

#faqt
  position: absolute
  top: 10%
  width:  40%
  height: 80%
  border: none
  padding: 20px
  visibility: hidden
  overflow-x: hidden /* horizontal */
  overflow-y: scroll  /* vertical */

#home
  position: fixed
  font-size: 35px
  top: 5%
  left: 5% 
  cursor: pointer
  visibility: hidden

  &:hover
    color: rgb(130,130,130)

