<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title>
    <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <h1>{{ title }}</h1>
  <div class="newSubscriber">
    <form method="post">
      <div>
        <input type="text" name="phoneNumber" id="editSubscriberPhoneNumber">
        <span id="newSubscriberSubmit"><input type="submit" value="Save"></span>
      </div>
    </form>

    <div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="{{ paypal_button_key }}">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_paynow_SM.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      </form>
    </div>

  </div>

  <script type="text/javascript" src="lib/angular-unstable/angular.min.js"></script>
</body>
</html>
