<!DOCTYPE HTML>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css" />
    <title>rECHOrd</title>
  </head>
<body ng-app>
  <h1>rECHOrd</h1>

  <div ng-controller="NewCallCtrl">
    <form>
      <div>
        <input type="text" ng-model="form.phoneNumber"
          placeholder="Type your phone number like 79871234567"
          >
        <input type="submit" value="Call me" ng-click="submitCall()">
      </div>
      <p>{{ message }}</p>
    </form>
  </div>

    <div ng-controller="PayPalCtrl">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="{{ paypal_button_key }}">
        Today it's free but anyway you can 
        <input type="submit" name="submit" value="donate $2" alt="PayPal"> 
        <small>(it's PayPal)</small>
      </form>
    </div>

  <script type="text/javascript" src="lib/angular-unstable/angular.min.js"></script>
  <script type="text/javascript" src="js/controllers.js"></script>
</body>
</html>
