<!DOCTYPE HTML>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	 <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto Slab">
	<script type="text/javascript" src="js/kernel.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js">
</script>
<script src="js/jquery.js" type="text/javascript"></script>
<script type="text/javascript" src="js/jquery.maskedinput.js" ></script>

<script>
$(document).ready(function(){
document.getElementById("but").focus();

 $("#faq").click(function(){
    $("#note").hide();
	$("#exp").hide();
	$("#but").hide();
	$("#pay").hide();
	$("#faqt").css({"visibility":"visible"});
	$("#home").css({"visibility":"visible"});
  });
  
  $("#home").click(function(){
    $("#note").show();
	$("#exp").show();
	$("#but").show();
	$("#pay").show();
	$("#faqt").css({"visibility":"hidden"});
	$("#home").css({"visibility":"hidden"});
  });
  
 
});
</script>
</head>
<body>
<img src="img/callme-03.png"  id="phone" />
<div id="note">Message <br> to the  <br> Future <br> <span id="sub">leave a message to your future self	</span> </div>
<div id="exp">

	<span class="orange">1.&#160;</span> <b>Pay</b> $1<br>
	<span class="orange">2.&#160;</span> <b>We</b>'ll <b>call</b> you. <br>
	<span class="orange">3.&#160;</span> Leave a <b> 5 - 10 min voice memo </b> and hang up the phone<br>
	<span class="orange">4.&#160;</span> In <b> 2 years</b> in the future we'll call you and you will hear your past self. <br>
</div>
<div id="pay">Pay $1</div>
<input type="text" id="but" contenteditable="true"   placeholder="Enter your phone number" onkeypress="fbut(event)" />

<div id="floor"><span class="over" id="faq" >FAQ   &#160;</span><span class="over">Disclaimer        </span></div>

<div id="faqt">
<span style="font-size: 25px">FAQ </span>
<br><br>
What is rECHOrd? 
<br><br>
This is a service that allows you to hear your message for yourself in the future. <br>
In practice, this means that you leave your phone number to the service and receive a phone call back immediately. You must then talk to yourself (leave a message) for up to 10 minutes and hang up. In 2 years' time you will receive a call back to the same phone number you have left, replaying your message back at you. 
<br><br>
<b>Why would I do this? </b>
<br>

We all live in such a fast-paced world that the idea works at both points - while being recorded, since you really step away from your life and take a good look from a distance, and when being played back - for better or worse, you have changed and hadn’t even noticed. Taking a moment to have a look at yourself from this perspective is both healthy and useful. The service is all about emotion - it's about reminiscing and thinking and nostalgia. But even if something went terribly wrong and you never heard your message again, the time you have spent looking at your life right now and talking it through is well worth it. 
<br><br>
<b>What should I talk about? </b><br>
Anything. This is about you. Perhaps today is the most wonderful day of your life and you want to be reminded of it. Maybe you've just had a disastrous trip to [insert country] but you're not sure you won't be thinking of going there again after a while. Maybe there's just some deep thinking you want to do. Anything goes. 
<br><br>
<b>Does this cost anything? </b><br>
Yes, each call costs 2$, and you can pay via PayPal. <br>
<br>
<b>What if I change or lose my number? </b><br>
Unfortunately we wouldn't be able to reach you in this case - messages are stored and tied strictly to one phone number, and can not be rooted out and redirected to another (we wouldn't want your personal message getting into the wrong hands by accident or evil intention). 
<br><br>
<b>I don't have a phone to begin with. </b><br>
There isn't much we can do, sorry. <br>
<br><br>
<b>What if I miss the call? </b><br>
The service will call you every 2 hours for the first 12 hours and then send you an SMS saying what all that was about. You will have an option to start the calls back up again. 
<br><br>
<b>Can I listen to the call before the time is up? </b>
<br>
No, this only works one way, and you've got to be patient. 
<br>
<br>
<b>Can I listen to the message again? </b>
<br>
No, it's a one-time thing. 
<br><br>
<b>Will my phone number go out to any third parties? </b>
<br>
Of course not! The most if will be used for is to call you back twice (for the message to be recorded, and to be played back), and a text message in case you hadn't been picking your phone up.. 
<br><br>
<b>Does this work everywhere in the world? </b>
<br>
<b>Dunno. Does it? </b>
<br>
<b>So how do flux capacitors work? </b>
<br>
Sorry, we promised we wouldn't tell. But hey, if you're kinky like that, check out our amazing source code instead.</div>

<div id="home">home</div>

  <h1>{{ title }}</h1>
  <div class="newSubscriber">
    <form method="post" action="">
      <div>
        <input type="text" name="phoneNumber" id="editSubscriberPhoneNumber"
          placeholder="Type your phone number like 79871234567"
          >
        <span id="newSubscriberSubmit"><input type="submit" value="Call me"></span>
      </div>
      <p>{{ resp }} {{ message }}<br>{{ extra }}</p>
    </form>

    <div>
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="{{ paypal_button_key }}">
        Also you can
        <input type="submit" name="submit" value="Pay $2" alt="PayPal - The safer, easier way to pay online!">
      </form>
    </div>

  </div>

  <script type="text/javascript" src="lib/angular-unstable/angular.min.js"></script>
</body>
</html>
