/* line 1, ../sass/app.sass */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #555555;
}
/* line 7, ../sass/app.sass */
body > h1,
body > div {
  width: 400px;
  margin: 0 auto;
}

/* line 12, ../sass/app.sass */
a {
  color: #00b7ff;
}

/* line 15, ../sass/app.sass */
h1,
h2 {
  margin: 0;
  font-size: 22px;
  color: #343434;
}

/* line 21, ../sass/app.sass */
h1 {
  text-shadow: 1px 2px 2px #dddddd;
  font-size: 60px;
}

/* line 25, ../sass/app.sass */
input[type=text] {
  width: 300px;
}

/* line 28, ../sass/app.sass */
.menu {
  list-style-type: none;
  margin: 30px auto;
  padding: 0 0 1px 0;
}
/* line 33, ../sass/app.sass */
.menu:after {
  content: " ";
  display: block;
}
/* line 37, ../sass/app.sass */
.menu li {
  float: left;
  width: 90px;
  padding: 3px 12px;
  margin: 0;
  cursor: pointer;
}
/* line 44, ../sass/app.sass */
.menu li:first-child {
  margin-left: -12px;
}
/* line 47, ../sass/app.sass */
.menu li:hover {
  background: #fafafa;
}

/* line 50, ../sass/app.sass */
.txt {
  text-align: left;
  width: 400px;
  margin: 20px auto;
}
/* line 56, ../sass/app.sass */
.txt h3 span {
  cursor: pointer;
  float: right;
}
/* line 60, ../sass/app.sass */
.txt h4 {
  margin: 10px 0 5px;
}

/* line 63, ../sass/app.sass */
.clear {
  clear: both;
}
