/* line 1, ../sass/app.sass */
body,
input {
  font-family: "Roboto Slab", serif;
}

/* line 5, ../sass/app.sass */
body {
  font-size: 14px;
  margin-left: 15%;
  margin-bottom: 40px;
  background: #f8f5f0 url("../img/paper_background.jpg") 0 0 no-repeat;
  background-size: cover;
}

/* line 13, ../sass/app.sass */
.hidden {
  display: none;
}

/* line 16, ../sass/app.sass */
#phone {
  position: absolute;
  height: 80%;
  left: 56%;
  top: 15%;
}

/* line 22, ../sass/app.sass */
#note {
  font-size: 45px;
  margin-top: 200px;
  font-weight: bold;
}

/* line 27, ../sass/app.sass */
#sub {
  font-size: 20px;
}

/* line 30, ../sass/app.sass */
#but {
  margin-top: 80px;
}
/* line 33, ../sass/app.sass */
#but input {
  background: #d35400;
  color: white;
  font-size: 35px;
  padding: 10px;
  outline: none;
  border: none;
  display: block;
  font-weight: 100;
  width: 480px;
}
/* line 44, ../sass/app.sass */
#but input::-webkit-input-placeholder {
  color: white;
}
/* line 47, ../sass/app.sass */
#but input:-moz-placeholder {
  color: white;
}
/* line 50, ../sass/app.sass */
#but input::-moz-placeholder {
  color: white;
}
/* line 53, ../sass/app.sass */
#but input:-ms-input-placeholder {
  color: white;
}

/* line 57, ../sass/app.sass */
.over:hover {
  color: #828282;
  cursor: pointer;
}

/* line 61, ../sass/app.sass */
#floor {
  position: absolute;
  top: 95%;
  left: 85%;
}

/* line 66, ../sass/app.sass */
.orange {
  color: #d35400;
  font-size: 25px;
}

/* line 70, ../sass/app.sass */
#exp {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: -26px;
}

/* line 75, ../sass/app.sass */
#pay {
  position: absolute;
  background: #d35400;
  color: white;
  font-size: 25px;
  padding: 5px;
  top: 70%;
  visibility: hidden;
  cursor: pointer;
}

/* line 86, ../sass/app.sass */
#help {
  position: absolute;
  padding: 5px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 20px;
  border: 2px solid rgba(130, 130, 130, 0.4);
  border-radius: 5px;
  background: transparent;
  visibility: hidden;
  top: 80%;
}

/* line 97, ../sass/app.sass */
#faqt {
  position: absolute;
  top: 10%;
  width: 40%;
  height: 80%;
  border: none;
  padding: 20px;
  visibility: hidden;
  overflow-x: hidden;
  overflow-y: scroll;
}

/* line 108, ../sass/app.sass */
#home {
  position: fixed;
  font-size: 35px;
  top: 5%;
  left: 5%;
  cursor: pointer;
  visibility: hidden;
}
/* line 116, ../sass/app.sass */
#home:hover {
  color: #828282;
}
